<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <img src="https://i.ytimg.com/vi/3ZMX3ImNt9g/hqdefault.jpg?custom=true&w=196&h=110&stc=true&jpg444=true&jpgq=90&sp=68&sigh=m1_UNn7DrUhaM7shiPBLUHg5Q2I"></img>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>