<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <img src="https://ssl.gstatic.com/s2/oz/images/notifications/spinner_32_794cfa28f324131c58c8934183d55d25.gif"></img>

<div class="form-group">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me, required: true %>
    <% end -%>
</div>

  <div class="form-actions">
    <%= f.button :submit, "Sign In", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>